<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}">
    <script src="/webjars/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"
            th:src="@{/webjars/popper.js/1.11.1/dist/popper.min.js}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"
            th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.min.js}"></script>

    <script type="text/javascript" th:src="@{/js/jquery.ns-autogrow.min.js}"></script>
</head>
<body>
<div class="container">
<div class="card">
    <!--/*@thymesVar id="recipe" type="com.prashanth.recipesapp.model.Recipe"*/-->

    <form method="post" th:object="${recipe}" enctype="multipart/form-data" th:action="@{'/recipe/'+${recipe.id} + '/image'}">

    <div class="card-header">Select Image</div>
    <div class="card-body">
            <label class="control-label">Select Image</label>
            <input id="imageFile" name="imageFile" type="file" class="file">

    </div>
    <div class="card-footer"><button type="submit" class="btn btn-primary">Submit</button></div>
    </form>
</div>
</div>
</body>
</html>